<!DOCTYPE html>
<html lang="es_CO" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>

<!--
th:object="${usuario}" // permite especificar que sera tipo de un objeto que se pase desde el controlador
-->
<form th:action="@{/formularios/form-automatico}"
      th:object="${usuario}"
      method="post">
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" th:value="${usuario.nombre}"/>
        <div th:if="${errores != null && errores.containsKey('nombre')}">
            <span style="color:red" th:text="${errores.get('nombre')}"></span>
        </div>

    </div>
    <div>
        <label for="contrasena">Contraseña</label>
        <!--
        th:field="*{contrasena} // realiza el binding entre el atributo del objeto y el input
        -->
        <input type="password" id="contrasena" th:field="*{contrasena}"/>
        <!--
        #fields.hasErrors('nombre') // usamos el helper de tymleaft para verificar si existe error
        -->
        <div th:if="${#fields.hasErrors('contrasena')}">
            <span style="color:red" th:errors="*{contrasena}"></span>
        </div>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email"  th:field="*{email}"/>
        <div th:if="${#fields.hasErrors('email')}">
            <span style="color:red" th:errors="*{email}"></span>
        </div>
    </div>
    <div>
        <input type="submit" value="Enviar"/>
    </div>

</form>

</body>
</html>