<!DOCTYPE html>
<html lang="es_CO" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Tag de thymeleaf-->
<h1 th:text="${title}"></h1>

<hr>

<h1>Usuarios:</h1>
<div th:if="${usuarios.isEmpty()}">No hay usuarios</div>
<div th:if="${usuarios.size} > 0">
    <ul>
        <li th:each="usuario: ${usuarios}">
            <span th:text="${usuario.nombre}"></span> | <span th:text="${usuario.email}"></span>
        </li>
    </ul>
</div>

<p>Mensaje generico <span th:text="${mensajeGenerico}"></span></p>

</body>
</html>